@import 'dgs-card-common';

paper-button::shadow #content > span {
  padding: {
    bottom: 5px;
    top: 5px;
  }
}

paper-button:last-child {
  margin-bottom: 0;
}

.table-style {
  width: 100%;
  display: table;
  .table-body, .footer-rows {
    display: table-row-group;
  }
  .header-row, .table-body-row, .footer-row {
    display: table-row;
  }
  .header-cell, .footer-cell, .table-body-cell {
    display: table-cell;
  }
  .header-cell, .table-body-cell {
    padding: 4px;
  }
  .footer-cell {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 12px;
  }
}
#loading, #no-projects {
  background-color: $color-grey-200;
  text-align: center;
  color: $color-grey-800;
  font-weight: bold;
  div {
    overflow: visible;
    transition: max-height 1s;
  }
}
#loading {
  paper-spinner {
    position: absolute;
  }
  .hide {
    padding: 0;
    div {
      height: 0px;
    }
  }
  #loading-cell {
    @include split-transition-at-position(padding 1s cubic-bezier(.25,.2,.25,1.0), 28px, 76px, 76px);
    width: 100%;
    position: relative;
    div {
      position: absolute;
      height: 28px;
      width: 100%;
      @include split-transition-at-position(height 1s cubic-bezier(.25,.2,.25,1.0), 0px, 28px, 76px);
    }
    &.hidden {
      @include split-transition-at-position(padding 1s cubic-bezier(.25,.2,.25,1.0), 0px, 48px, 76px);
      div {
        @include split-transition-at-position(height 1s cubic-bezier(.25,.2,.25,1.0), 48px, 76px, 76px);
      }
    }
  }
}
#no-projects {
  #no-projects-cell {
    @include split-transition-at-position(padding 1s cubic-bezier(.25,.2,.25,1.0), 16px, 64px, 64px);
    @include split-transition-at-position(height 1s cubic-bezier(.25,.2,.25,1.0), 0px, 16px, 64px);
    width: 100%;
    height: 16px;
    div {
      position: absolute;
      width: 100%;
      height: 16px;
      @include split-transition-at-position(height 1s cubic-bezier(.25,.2,.25,1.0), 0px, 16px, 64px);
    }
    &.hide {
      padding: 0;
      height: 0;
      div {
        height: 0px;
        overflow: hidden;
      }
    }
  }
}
