@import 'dgs-card-common';

paper-button::shadow #content > span {
  padding: {
    bottom: 5px;
    top: 5px;
  }
}

paper-button:last-child {
  margin-bottom: 0;
}

.table-style {
  width: 100%;
  display: table;
  .table-body, .footer-rows {
    display: table-row-group;
  }
  .header-row, .table-body-row, .footer-row {
    display: table-row;
  }
  .header-cell, .footer-cell, .table-body-cell {
    display: table-cell;
  }
  .header-cell, .table-body-cell {
    padding: 4px;
  }
  .footer-cell {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 12px;
  }
}
#loading, #no-projects {
  background-color: $color-grey-200;
  text-align: center;
  color: $color-grey-800;
  font-weight: bold;
  div {
    overflow: hidden;
    transition: max-height 1s;
  }
}
#loading div {
  max-height: 28px;
}
#no-projects div {
  max-height: 16px;
}
